<div class="title">FusionCharts</div>
<fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource"></fusioncharts>
<!--<fusioncharts [type]="type2" [width]="width2" [height]="height2" [dataSource]="dataSource2"></fusioncharts>-->
<app-fusion-line></app-fusion-line>
<app-fusion-bar></app-fusion-bar>
<app-fusion-pie-doughnut></app-fusion-pie-doughnut>
<app-fusion-bubble></app-fusion-bubble>
<app-fusion-stacked-graph></app-fusion-stacked-graph>
<app-fusion-combined-graph-bar-area></app-fusion-combined-graph-bar-area>
<app-fusion-sparkline></app-fusion-sparkline>

